<mat-toolbar>
    <div class="container">
        <div class="menu-container">
            <div class="right-nav-item">
                <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
                    My app
                </a>
                <ng-container *ngIf="isLoggedIn">
                <ul class="right-nav-item_ul">
                    <li>
                       <a routerLink="/members" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Matches</a> 
                    </li>
                    <li>
                        <a routerLink="/lists" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Like Lists</a> 
                     </li>
                     <li>
                        <a routerLink="/message" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Message</a> 
                     </li>
                     <li>
                        <a routerLink="/admin" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Admin</a> 
                     </li>
                </ul>
            </ng-container>
            </div>
            <div class="left-nav-item">
                <ng-container *ngIf="!isLoggedIn" >
                    <a mat-button routerLink="/login">
                        <mat-icon class="material-symbols-outined">login</mat-icon>
                    </a>
                </ng-container>
                
                <ng-container *ngIf="isLoggedIn">
                    <a mat-button [matMenuTriggerFor]="menu">
                        <mat-icon class="material-symbols-outined">person</mat-icon>
                    </a>
                    <mat-menu #menu="matMenu" class="custom-mat-menu" yPosition="below">
                    <a mat-menu-item>
                        Hello Users
                        <img src="../../../assets/img/dummy.jpeg">
                    </a>
                    <a (click) ="onLogout()"mat-menu-item>
                        Logout
                    </a>
                    </mat-menu>
                </ng-container>
                

            </div>
        </div>
    </div>
</mat-toolbar>